name: test
run-name: Build remote-virtio-gpu
on: [push]

jobs:

  build:
    name: Build on ubuntu-20.04
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Compose environment variables
        run: |

          PACKAGE_NAME=remote-virtio-gpu

          if [[ ${{ github.ref }} == refs/tags/v* ]] ; then
                TAG=${{ github.ref_name }}
                PACKAGE_VERSION="${TAG:1}"
                RELEASE=true
          else
                SHORT_SHA=$(git rev-parse --short HEAD)
                PACKAGE_VERSION="0.${SHORT_SHA}"
                RELEASE=false
          fi

          INSTALL_DIR=${{ github.workspace }}/${PACKAGE_NAME}"_${PACKAGE_VERSION}"

          echo "PACKAGE_NAME=${PACKAGE_NAME}"       >> $GITHUB_ENV
          echo "PACKAGE_VERSION=${PACKAGE_VERSION}" >> $GITHUB_ENV
          echo "RELEASE=${RELEASE}"                 >> $GITHUB_ENV
          echo "INSTALL_DIR=${INSTALL_DIR}"         >> $GITHUB_ENV

      - name: Install build dependencies
        run: sudo apt update && sudo apt install -y cmake ninja-build libvirglrenderer-dev libinput-dev libdrm-dev libegl1-mesa-dev libwayland-dev

      - name: Fetch virtio-lo development package
        uses: robinraju/release-downloader@v1.8
        with:
          repository: ${{ format('{0}/remote-virtio-gpu-driver', github.actor) }}
          latest: true
          fileName: "virtio-lo-dev_*.deb"

      - name: Install virtio-lo development package
        run: sudo dpkg -i ./virtio-lo-dev_*.deb

      - name: Config
        run: cmake -S . -B build -D CMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --parallel

      - name: Create install dir
        run: mkdir ${INSTALL_DIR}

      - name: Install
        run: cmake --install build --prefix ${INSTALL_DIR}

      - name: Create debian package
        run: |
          mkdir ${INSTALL_DIR}/DEBIAN
          cat <<EOF > ${INSTALL_DIR}/DEBIAN/control
          Package: ${PACKAGE_NAME}
          Version: ${PACKAGE_VERSION}
          Section: base
          Priority: optional
          Architecture: amd64
          Depends: libegl1 (>= 1.3.1)
                 , libgl1-mesa-dri (>= 20.0.4)
                 , libvirglrenderer1 (>= 0.8.2)
                 , libwayland-egl1 (>= 1.18.0)
                 , libinput10 (>= 1.15.5)
                 , libgles2 (>= 1.3.1)
          Maintainer: Aleksei Makarov <alm@opensynergy.com>
          Description: Remote Virtio GPU Device (RVGPU)
          EOF
          dpkg-deb --build ${INSTALL_DIR}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          retention-days: 1
          name: debian-packages
          path: ${{ env.PACKAGE_NAME }}*.deb

      - name: Create release
        if: env.RELEASE == 'true'
        uses: ncipollo/release-action@v1
        with:
          makeLatest: true
          tag: v${{ env.PACKAGE_VERSION }}
          artifacts: ${{ env.PACKAGE_NAME }}*.deb
